<%- model_class = Account -%>
<div class="page-header">
  <h1><%= @account.number %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:id) %>:</strong></dt>
  <dd><%= @account.id %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:created_at) %>:</strong></dt>
  <dd><%= @account.created_at %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:updated_at) %>:</strong></dt>
  <dd><%= @account.updated_at %>&nbsp;</dd>
  <dt><%= model_class.human_attribute_name(:users) %>
  <dd>
    <ul class="list-group">
      <%= @account.users.collect { |u|
        '<li class="list-group-item">' + link_to(u.email, admin_user_path(u)) + '</li>'
      }.join().html_safe %>
    </ul>
  </dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
            admin_accounts_path, :class => 'btn btn-default' %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
            edit_admin_account_path(@account), :class => 'btn btn-default' %>