<div class="page-header">
	<h1><%= t 'simple_form.labels.user.recovery.change' %></h1>
</div>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => 'form-horizontal'  }) do |f| %>
  <%= f.error_notification %>
  <%= render partial: "devise/shared/flash_messages", flash: flash %> 
  <%= f.input :reset_password_token, :as => :hidden %>
  <%= f.full_error :reset_password_token %>
  <%= f.input :password, :label => t('simple_form.labels.user.recovery.new'), :required => true, :autofocus => true %>
    <%= f.input :password_confirmation, :label => t('simple_form.labels.user.recovery.confirm'), :required => true %>

   <%= f.button :submit, t('simple_form.labels.user.recovery.submit'), class: 'btn-default' %>
<% end %>

<%= render "devise/shared/links" %>
