<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= t('shared.labels.admin') %></a>
  <div class="dropdown-menu" aria-labelledby="dropdown01">
    <%= link_to t('activerecord.models.user.other').mb_chars.titleize, admin_users_path, :class => 'dropdown-item', 'aria-labelledby'=>'dropdown01' %>
    <%= link_to t('activerecord.models.account.other').mb_chars.titleize, admin_accounts_path, :class => 'dropdown-item' %>
    <%= link_to t('activerecord.models.role.other').mb_chars.titleize, admin_roles_path, :class => 'dropdown-item' %>
    <%= link_to t('activerecord.models.subscription.other').mb_chars.titleize, admin_subscriptions_path, :class => 'dropdown-item' %>
  </div>
</li>